@import 'variables';

.theme--light.v-application {
  background: transparent;
  color: white !important;
}

.theme--light.v-card {
  background: transparent;
  color: white !important;
}

.theme--dark.v-application {
  background: transparent;
  color: white !important;
}

.theme--dark.v-card {
  background: transparent;
  color: white !important;
}
