// VARIABLES

$color-background: #141e30;
$color-background-gradient: #243b55;

$color-background-card: rgba(41,41,41, 0.3);

$color-text-secondary: #FF416C;

$font-size-extra-small: 0.688em;
$font-size-small: 0.813em;
$font-size-normal: 1em;
$font-size-medium: 1.1em;
$font-size-big: 1.2em;
